

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}

body {
  background-color: rgb(19, 19, 57);
  color:#fff;
 
  
}
.container{
  margin:0 40px;
}
